.DS_Store
app/.ipynb_checkpoints/
app/Data_exploration.ipynb
data/.DS_Store
data/COVID-19_Daily_Counts_of_Cases__Hospitalizations__and_Deaths.csv
data/NYPD_Hate_Crimes.csv
data/ENDGBV_Social_Media_Outreach__Paid_Advertising__and_the_NYC_HOPE_Resource_Directory_during_COVID-19.csv
